/* Home page banner */

.home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: min(60vw, 50vh);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 70%, #2e3136), url('../assets/banner.png');
    background-size: cover; 
    background-position: center; 
    padding: 0 20px;
}
.home-banner-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 5px black;
}
.home-banner-text h1 {
    font-size: min(7vw, 70px);
    font-weight: 500;
    margin: 0;
    color: white;
}
.home-banner-text h3 {
    font-weight: 400;
}

.invite {
    /* height: 25vh; */
    padding-top: 2vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* background: linear-gradient(rgba(30, 30, 30, 1), rgba(30, 30, 30, 1) 50%, rgba(0, 0, 0, 0)); */
}
.invite p {
    padding: 0 100px;
    color: #999;
    text-align: center;
    margin-top: 0;
}
.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin: 10px 10px;
    text-decoration: none;
    white-space: nowrap; /* prevent button from splitting when screen is small */
}
.server-btn {
    background: #f56ab4;
    color: white;
    text-align: center;
    display: inline-table;
    position: relative;
    padding: 5px 10px;
}
.server-btn:hover {
    background: linear-gradient(144deg,#FF62AA,#D70D83);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
.server-btn img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .invite p {
        padding: 5vh 10px 0 10px;
    }
}

/* ------------------------------------------------------- */
/* Home page featured commands */

.homepage-feature-div {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.homepage-feature-container {
    background-color: #35393e;
    border-radius: 10px;
    max-width: 500px;
    padding: 0 5%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px black;
}
.homepage-feature-container img {
    border-radius: 5px;
}
.feature-header {
    font-weight: 500px;
    margin-bottom: 0;
    color: #00B0F0;
}
.homepage-features-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 10px auto 10px auto;
    max-width: 700px;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #eee;
    display: block;
    overflow: visible;
}

/* ------------------------------------------------------- */
/* hide and show animations */

.hidden {
    visibility: hidden;
    opacity: 0;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
    transform: translateY(-10px) !important;
}